<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <script th:src="@{app_s/js/jquery.min.js}"></script>
</head>
<body>
<p>账号：<input type="text" id="username" name="username"/></p>
<p>密码：<input type="text" id="password" name="password"/></p>

<p><input type="button" onclick="login()" id="loginButton" value="登录"/></p>
<p><input type="button" onclick="registered()" id="registeredButton" value="注册"/></p>

</body>
<script data-th-src="@{app_s/js/login.js}"></script>
</html>