<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/hqf-ws</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="top.hlfpersonal.vo.TGroup"/>
    <mapping class="top.hlfpersonal.vo.TGroupRelaUser"/>
    <mapping class="top.hlfpersonal.vo.TMsg"/>
    <mapping class="top.hlfpersonal.vo.TUser"/>
    <mapping class="top.hlfpersonal.vo.TWait"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>